.white rect {
	fill: white;
}
.black rect {
	fill: black;
}

.label {
	text-transform: lowercase;
	font-family: sans-serif;
	font-size: 12px;
}
.white .label {
	fill: black;
}
.black .label {
	fill: white;
}

.heat-square {
	fill: red;
	opacity: 0.8;
}